<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882305750939-nvbkjdgpjnlbkiqg8tb80tgrvr3qsi6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882305750939-nvbkjdgpjnlbkiqg8tb80tgrvr3qsi6t</string>
	<key>API_KEY</key>
	<string>AIzaSyBwDY_wOzq_nmeedTuJ9iEEQVxBJCMtjq8</string>
	<key>GCM_SENDER_ID</key>
	<string>882305750939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Anna-Shishmareva.VK</string>
	<key>PROJECT_ID</key>
	<string>vksimulator-21582</string>
	<key>STORAGE_BUCKET</key>
	<string>vksimulator-21582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882305750939:ios:3bd751699767c7210db33e</string>
</dict>
</plist>